body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #849d8f;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.button {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border: none;
  cursor:pointer;

}


.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.placeholder {
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 210, 1);
  width: inherit;
}

.placeholder:hover {
  box-shadow: 0px 0px 0px 2px rgba(154, 154, 154, 0.52) inset;
}

.placeholder:focus {
  box-shadow: 0px 0px 0px 2px rgba(46, 136, 228, 0.52);
}


/***********************HEADER***********************/
.main-header {
  width: auto;
}
.navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  max-height: 64px;
}
.
.main-header-logo {
  padding-left: 27px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  min-width: 375px;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  margin-right: 367px;
}

.user-navigation,
.catalog-navigation {
  list-style: none;
}

.site-navigation {
  margin: 0;
  margin-left: 12px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.catalog-navigation-item {
  margin: 0;
  padding: 10px 13px;
}

.catalog-navigation-item:hover {
  background: rgba(248, 247, 244, 1);
  border-radius: 25px;
}

.catalog-navigation-item:hover a {
  color: rgba(51, 51, 51, 1);
}

.catalog-navigation-item:active {
  box-shadow: inset 0px 2px 1px 0 rgba(105, 105, 105, 1);
  background-color: rgba(237, 237, 237, 1);
}

.catalog-navigation-item>a {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 18px;
  white-space: pre;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-navigation {
  display: none;
}

.active:hover::after {
  content: '';
  position: absolute;
  width: 91px;
  height: 22px;
  top: 36px;
  left: 351px;
}

.active:hover .catalog-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgba(248, 247, 244, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  min-width: 143px;
  border-radius: 5px;
  position: absolute;
  margin-top: 15px;
}

.catalog-navigation-item-submenu a:hover {
  background-color: rgba(251, 222, 215, 1);
  border-radius: inherit;
}

.catalog-navigation-item-submenu a:active {
  background-color: rgba(246, 181, 165, 1);
  border-radius: inherit;
}

.catalog-navigation-item-submenu.inner a {
  background-color: rgba(208, 112, 88, 1);
  border-radius: inherit;
}

.catalog-navigation-item-submenu a {
  font-size: 14px;
  line-height: 16px;
  color: rgba(50, 50, 50, 1);
  font-weight: normal;
  padding: 10px 13px;
  display: flex;
}

.catalog-navigation li:first-child a {
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


}
.user-navigation-general {
  min-width: 325px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.user-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 250px;
  margin-top: 13px;
}
.user-navigation-item {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}
.login-hover,
.bucket-hover {
  padding: 6px 12px;
  position: relative;
}
.user-navigation-item>a {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.user-navigation-item:hover,
.bucket-full {
  background: rgba(248, 247, 244, 1);
}
.user-navigation-item:hover>a,
.bucket-full>a {
  color: rgba(51, 51, 51, 1);
}
.user-navigation-item:active {
  box-shadow: inset 0px 2px 1px 0 rgba(105, 105, 105, 1);
  background-color: rgba(237, 237, 237, 1);
}
.user-navigation-item img {
  padding-right: 5px;
}
.user-navigation>a {
  text-align: right;
  color: rgba(255, 255, 255, 1);
}
.user-navigation .search-link {
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 9px 7px;
  width: 17px;
  height: 17px;
  display: block;
  padding: 8px;
}

/********modal-search********/
.modal-search {
  display: none;
}

/*.search-hover:hover .modal-search,*/
.modal-show-search {
  position: absolute;
  top: 34px;
  right: 0;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1;
  padding-top: 4px;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}
.search-hover:hover .search-link,
.search-hover:focus .search-link {
  background-image: url("../img/search-hover.svg");
  background-repeat: no-repeat;
  background-position: 9px 7px;
  width: 17px;
  height: 17px;
  display: block;
  padding: 8px;
}
.search-on-site {
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 1);
}
.search-on-site .input-style {
  width: 311px;
  height: 44px;
  margin: 20px 15px;
}

/**************/
.login-hover a {
  padding-left: 35px;
}
.login-link {
  position: relative;
}
.login-link::before {
  background-image: url(../img/entrance.svg);
  background-repeat: no-repeat;
  background-position: 9px 7px;
  width: 21px;
  height: 19px;
  display: block;
  padding: 8px;
  position: absolute;
  content: "";
  left: -2px;
  top: -8px;
}
.login-hover:hover .login-link:before {
  background-image: url(../img/enter-hover.svg);
}

/****modal-login*****/
.modal-login {
  display: none;
}

/*.login-hover:hover .modal-login,*/
.modal-show-login {
  display: block;
  width: 277px;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 1);
  position: absolute;
  top: 35px;
  right: 0px;
  margin-top: 4px;
  z-index: 1;
  animation: bounce 0.6s;
}
.login-form .user-email,
.login-form .user-password {
  margin-bottom: 20px;
}
.login-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.help-me {
  width: 120px;
}
.help-wrapper {
  display: flex;
}
.help-me .restore,
.help-me .registration-user {
  font-size: 13px;
  line-height: 24px;
  color: rgba(50, 50, 50, 1);
  text-decoration: underline;
  font-weight: normal;
  white-space: pre;
  padding: 0;
}
.restore:hover,
.registration-user:hover,
.restore:active,
.registration-user:active {
  font-size: 13px;
  line-height: 24px;
  color: rgba(232, 77, 55, 1);
  text-decoration: underline;
}
.modal-login-button {
  padding: 13px 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 20px;
  align-self: center;
}

/***/
.bucket-hover {
  position: relative;
}
.bucket-hover>a {
  padding-left: 35px;
}
.bucket-hover::before {
  background-image: url(../img/bucket.svg);
  background-repeat: no-repeat;
  background-position: 9px 7px;
  width: 21px;
  height: 19px;
  display: block;
  padding: 8px;
  position: absolute;
  content: "";
  left: 10px;
  top: 1px;
}
.bucket-hover:hover::before {
  background-image: url(../img/bucket-hover.svg);
}

/****bucket****/
.modal-bucket {
  display: none;
}

/*.bucket-hover:hover .bucket,
.bucket-hover:target .bucket*/
.modal-show-bucket {
  background-color: rgba(248, 247, 244, 1);
  font-size: 13px;
  line-height: 16px;
  color: rgba(50, 50, 50, 1);
  width: 633px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 36px;
  right: 0;
  margin-top: 4px;
  z-index: 1;
  animation: bounce 0.6s;
}
.client-choise {
  width: 590px;
  margin-left: 16px;
  margin-top: 20px;
  border-collapse: collapse;
}
.icecream-link {
  font-size: 13px;
  line-height: 16px;
  color: rgba(50, 50, 50, 1);
  font-weight: normal;
}
.client-choise-row {
  height: 60px;
}
.client-choise-row img {
  border-radius: 50%;
}
.client-choise-row span {
  color: rgba(153, 153, 153, 1);
}
.clients-choise-row .delete {
  width: 12px;
  padding: 0;
  margin: 0;
  background: none;
}
.clients-choise-row .icecream-link {
  font-weight: normal;
  padding: 0;
}
.client-choise-row-amount {
  font-size: 15px;
  line-height: 18px;
  color: rgba(50, 50, 50, 1);
  font-weight: bold;
  text-align: right;
  height: 46px;
  border-top: 1px solid rgba(202, 202, 199, 1);
}
.button-choise {
  font-size: 18px;
  line-height: 24px;
  padding: 13px 14px;
  font-weight: bold;
  align-self: flex-end;
  margin-bottom: 21px;
  margin-right: 15px;
  margin-top: 15px;
}

/***contact-information***/
.contacts-information {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}
.contacts-information a {
  font-size: 22px;
  line-height: 24px;
  margin-top: 5px;
}
.contact-information span {
  margin-top: 6px;
}
/******Slider***********/
.slider-wrapper {
  margin: 0 auto;
  padding: 0 27px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  background-image: url("../img/first-slide.png");
  background-repeat: no-repeat;
  background-position:50% -0.5%;;

}
.slider-wrapper::before,
.slider-wrapper::after {
  content: "";

  visibility: hidden;
}

.slider-wrapper::before {
  background-image: url("../img/second-slide.png");
}

.slider-wrapper::after {
  background-image: url("../img/third-slide.png");
}
.slider {
  position: relative;
  padding-top: 276px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 41px;
}
.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  margin-bottom: 29px;
}
.slide-button {
 display: inline-block;
  padding: 12px 44px;
  vertical-align: top;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}
.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 161px;
  z-index: 20;
  
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label:hover {
  background-color: rgba(248, 247, 244,0.4);
  border:2px solid rgba(255,255,255,1);
}

#product-1:checked ~ .slider-wrapper #slide1,
#product-2:checked ~ .slider-wrapper #slide2,
#product-3:checked ~ .slider-wrapper #slide3 {
  display: block;
  position:relative;
}
#product-1:checked ~ .slider-wrapper label[for="product-1"],
#product-2:checked ~ .slider-wrapper label[for="product-2"],
#product-3:checked ~ .slider-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
#product-1:checked ~ .slider-wrapper {
  background-color: #849d8f;
  background-image: url("../img/first-slide.png");
}

#product-2:checked ~ .slider-wrapper {
  background-color: #8996a6;
  background-image: url("../img/second-slide.png");
}

#product-3:checked ~ .slider-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/third-slide.png");
}
/**********************MAIN**********************/
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/*******Special-offer*******/
.special-offer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}
.topping-gifts {
  margin: 0;
  padding: 0;
}
.topping-gifts {
  width: 560px;
  min-height: 229px;
  display: flex;
  flex-direction: column;
}
.topping-gifts h3 {
  font-size: 35px;
  line-height: 41px;
  color: rgba(255, 255, 255, 1);
  padding-left: 19px;
  margin: 0;
  margin-top: 16px;
}
.topping-gifts p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-top: 15px;
}
.raspberry.topping-gifts a {
  padding: 9px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  width: 165px;
  align-self: flex-end;
  margin-top: 46px;
  margin-right: 21px;
}
.chocolate.topping-gifts a {
  padding: 8px 13px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  width: 165px;
  align-self: flex-end;
  margin-top: 46px;
  margin-right: 21px;
}
.raspberry {
  background-color: #DC143C;
  background-image: url("../img/raspberry-promo.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 560px;
}
.chocolate {
  background-color: #8B4513;
  background-image: url("../img/chocolate-promo.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 560px;
}

/*******types-of-icecream-list*******/
.catalog-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-list li {
  list-style: none;
}
.catalog-item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  margin-left: 26px;
}
.catalog-item:first-child {
  margin-left: 0;
}
.catalog-item:hover::after {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);
  z-index: 2;
  position: absolute;
  content: "";
  min-height: 405px;
  width: 293px;
  border-radius: 5px;
  top: 0;
  right:-14px;
}
.catalog-item:hover .button-visual {
  display: block;
  position: absolute;
  top: 341px;
}
.catalog-item .button-visual {
  padding: 13px 17px 13px 17px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  min-width: 200px;
  display: none;
  z-index: 3;
}
.catalog-item img {
  border-radius: 50%;
  margin: 0;
}
.catalog-item-image {
  margin-bottom: 8px;
  position: relative;
}

.hit::before {
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  background-position: 9px 7px;
  width: 61px;
  height: 61px;
  display: block;
  padding: 8px;
  position: absolute;
  content: "";
  left: -9px;
  top: -7px;
}
.catalog-item-price {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 225px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.catalog-item-price span {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}
.catalog-item-description {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-top: auto;
  text-decoration: underline rgba(255, 255, 255, 0.2);
  max-width: 260px;
  white-space: pre-wrap;
}

/*******Our-features*******/
.our-features {
  width: 1146px;
  border-radius: 15px;
  background-image: url("../img/waffle.jpg");
  background-color: #f0c954;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
  margin-top: 10px;
}
.our-features b {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  padding-left: 18px;
  padding-top: 25px;
  padding-bottom: 22px;
}
.our-features p {
  color: #323232;
  width: 476px;
  margin: 0;
  padding: 0 22px 25px 75px;
}
.our-features .icecream::after {
  background: url("../img/icecream-logo-features.svg") no-repeat;
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  top: 94px;
  left: 19px;
}
.our-features .leaf::after {
  background: url("../img/leaf.svg") no-repeat;
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  top: 182px;
  left: 20px;
}
.our-features .cow::after {
  background: url("../img/cow-features.svg") no-repeat;
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  top: 94px;
  right: 513px;
}
.our-features .temperature::after {
  background: url("../img/temperature-features.svg") no-repeat;
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  top: 180px;
  right: 513px;
}

/*******Blog-subscribe-wrapper******/
.blog-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.our-blog {
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../img/blogphoto.jpg");
  display: flex;
  flex-direction: column;
}
.our-blog h4 {
  height: 14px;
  margin: 0;
  padding-top: 22px;
  padding-left: 19px;
}
.our-blog a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
  padding-left: 19px;
  margin-top: 13px;
  width: 286px;
}
.subscribe-block {
  width: 560px;
  min-height: 220px;
  margin-left: 26px;
  border-radius: 10px;
  background-color: rgba(248, 247, 244, 1);
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  ;
}
.subscribe-block-button {
  padding: 10px 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.subscribe-block p {
  line-height: 22px;
  color: #5a5a5a;
  max-width: 506px;
  padding-bottom: 18px;
  padding-top: 12px;
  padding-left: 21px;
}
.subscribe-form {
  margin: 5px;
  width: 550px;
  min-height: 210px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.subscribe-placeholder {
  margin-left: 20px;
  margin-right: 8px;
  min-width: 351px;
  padding: 13px 0 13px 15px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
}
.input-feedback,
.feedback-item textarea {
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}
input-feedback:hover,
.feedback-item textarea:hover {
  box-shadow: 0px 0px 0px 2px rgba(154, 154, 154, 0.52) inset;
}
input-feedback:active,
.feedback-item textarea:active {
  box-shadow: 0px 0px 0px 2px rgba(46, 136, 228, 0.52) inset;
}

/********MAP & contacts********/
.map {
  height: 430px;
  position: relative;
  margin: 0 auto;
  width: 1200px;
}
.map iframe {
  position: relative;
  z-index: 2;
  border: none;
}
.map>img {
   position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}
.contacts {
  width: 302px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  right: 27px;
  top: 63px;
  z-index: 3;
}
.contacts p {
  padding-left: 25px;
  padding-top: 12px;
  padding-right: 25px;
  margin-top: 14px;
  margin-bottom: 23px;
}
.contacts span {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  display: block;
  max-width: 172px;
  margin-bottom: 2px;
}
.contacts b {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  display: block;
  margin-bottom: 18px;
}
.contact-form-button {
  max-width: 252px;
  padding: 11px 28px;
  white-space: nowrap;
  margin: 0 25px 31px 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  display: block;
}
.contacts .telephone-number {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  padding-left: 0;
  margin-left: 0;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

/****feedback***/
.modal-feedback {
  display: none;
}
.modal-show-feedback {
  width: 478px;
  border-radius: 10px;
  background-color: rgba(248, 247, 244, 1);
  position: fixed;
  bottom: 0;
  left: calc(50% - 240px);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: block;
  animation: bounce 0.6s;
}
.modal-feedback h2 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  padding: 20px 0 0 24px;
}
.modal-close {
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 17px;
  right: 17px;
}
.feedback-item {
  padding-left: 24px;
}
.feedback-item textarea {
  height: 155px;
  width: 375px;
}
.feedback-item input {
  width: 267px;
}
.feedback-item .placeholder {
  padding: 13px 15px;
}
.input-feedback {
  padding: 13px 25px 25px 25px;
}
.feedback-button {
  max-height: 44px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 7px 24px;
  margin-left: 315px;
  margin-bottom: 25px;
  padding: 13px 28px;
}

/*****************FOOTER************************/
.main-footer {
  padding-top: 15px;
  display: flex;
  padding-bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/**footer-social**/
.footer-social {
  padding: 0;
  margin: 0;
}
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  min-width: 185px;
  display: flex;
  justify-content: space-between;
}
.social-link img {
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.social-link:hover img {
  opacity: 1;
}
.social-link:active img {
  background-color: rgba(233, 233, 233, 0.7);
}

/*****Commercial-block*****/
.commercial-information {
  margin-left: 205px;
}
.commercial-information a {
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.commercial-information a:hover,
.commercial-information a:active {
  color: rgba(255, 188, 158, 1);
}
.commercial-column li:first-child {
  position: relative;
}
.commercial-column li:first-child a {
  font-weight: bold;
}
.commercial-column li:first-child:before {
  background-image: url(../img/love.svg);
  background-repeat: no-repeat;
  background-position: 9px 7px;
  width: 15px;
  height: 13px;
  display: block;
  padding: 8px;
  position: absolute;
  content: "";
  left: 1px;
  top: -2px;
}
.commercial-block {
  min-width: 410px;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 13px;
}
.commercial-block-item {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 32px;
  flex-basis: 109px;
  white-space: nowrap;
}
.commercial-column {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 335px;
  flex-wrap: wrap;
}

/*****copyright******/
.copyright {
  margin-left: 158px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
}
.copyright span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.copyright a {
  white-space: nowrap;
}
.copyright span:hover,
.copyright span:active {
  color: rgba(255, 188, 158, 1);
}

/***************INNER************/

/*****HEADER******/
.site-navigation >.current-page a{
  background-color: rgba(208, 112, 88, 1);
  color: rgba(255, 255, 255, 1);
  padding: 7px 13px;
  border-radius: 25px;
}
.current-page a {
  border-bottom: none;
}
.bucket-full:before {
  background: url("../img/bucket-full.svg");
  background-repeat: no-repeat;
  background-position: 9px 7px;
  width: 21px;
  height: 19px;
  display: block;
  padding: 8px;
  position: absolute;
  content: "";
  left: 10px;
  top: 1px;
  cursor: pointer;
}
.bucket-full:hover:before {
  background: url("../img/bucket-full.svg");
  background-repeat: no-repeat;
  background-position: 9px 7px;
  width: 21px;
  height: 19px;
  display: block;
  padding: 8px;
  position: absolute;
  content: "";
  left: 10px;
  top: 1px;
  cursor: pointer;
}
.page-title {
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding-left: 28px;
  font-size: 35px;
  line-height: 41px;
}
.breadcrumbs {
  display: flex;
  justify-content: space-between;
  min-width: 230px;
  padding-left: 27px;
  padding-top: 10px;
  margin-bottom: 0;
}
.breadcrumbs li {
  padding: 0;
  margin: 0;
}
.breadcrumbs li,
.breadcrumb-current {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  list-style: none;
}
.breadcrumbs a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: rgba(255, 188, 158, 1);
}
.breadcrumbs li:first-child::after,
.breadcrumbs li:nth-child(2)::after {
  content: "»";
  padding-left: 10px;
}
.information-breadcrumbs {
  display: flex;
  justify-content: space-between;
}
.information-breadcrumbs>.contacts-information {
  order: 1;
  padding: 0;
  margin: 0;
  margin-right: 27px;
}

/***************MAIN**************/

/****filters****/
.filtered-results {
  margin-bottom: 40px;
}
.filter-item {
  padding: 0;
  margin: 0;
  display: flex;
}
.filter-item-select label {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 7px;
  padding-top: 13px;
  padding-left: 14px;
}
.first-row-sorting,
.second-row-sorting {
  display: flex;
  flex-direction: column;
}

.filters-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.filter-item-select {
  display: flex;
  flex-direction: column;
  margin:0;
  margin-right: 15px;
}
.sorting-select {
    padding: 7px 33px 8px 13px;
    border-radius: 25px;
    color: rgba(255,255,255,1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
 background:rgba(255,255,255,0.4) url("../img/icon-down-dir.svg")166px 11px no-repeat;
} 

.sorting-select option {
  color: black;
  font-size: 14px;
  line-height: 16px;
}

.sorting-select:checked {
  color:black;
}
.filter-item-price {
  display:flex;
  flex-direction: column;
  margin-right: 14px;
}

.pricerange {
  background-color: rgba(255,255,255,0.4);
    padding:6px 44px;
    border-radius: 20px;
}
.filter-fat-label {
    padding-left: 16px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}
.sort-fat-item-wrapper {
  display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.4);
    padding: 10px 16px 9px 13px;
    border-radius: 20px;
}
.sort-fat-item-wrapper input[type="radio"] {
  display: none;
}
.sort-fat-item-wrapper input[type="radio"]+label {
  position: relative;
  cursor: pointer;
}
.sort-fat-item {
  padding-left: 34px;
  position: relative;
  margin-right: 16px;
      margin-top: 0;
    margin-bottom: 0;
}
.sort-fat-item:last-child {
  margin-right: 0;
  padding-left: 31px;
}
.sort-fat-item-wrapper input[type="radio"]+label::before {
  content: "";
  width: 14px;
  height: 15px;
  border:3px solid rgba(255,255,255,1);
  border-radius: 50%;
  position: absolute;
  left: -31px;
    top: -2px;
}

.sort-fat-item-wrapper input[type="radio"]:checked+label::after {
  content: "";
  width: 2px;
  height: 2px;
  border:3px solid rgba(255,255,255,1);
  background: white;
  border-radius: 50%;
  position: absolute;
  left: -25px;
    top: 4px;
}
.filter-item-fat {
  display:flex;
  flex-direction: column;
}
.sort-fat-item label,
.toppings label {
  font-size: 16px;
  line-height: 18px;
}
.toppings {
  display: flex;
  flex-direction: column;
}
.sorting-name-toppings {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  padding-left: 15px;
  margin-bottom: 5px;
}
.topping-wrapper {
      background-color: rgba(255,255,255,0.4);
    padding: 9px 14px;
    border-radius: 20px;
    align-self: flex-start;
    margin-right: 15px;
}
.filters-row >.topping-check {
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}
.sorting-filters {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  padding: 12px 29px 9px 31px;
  background-color: #849d8f;
  border-radius: 20px;
}

.topping-wrapper input[type="checkbox"]{
  display:none;
}
.topping-wrapper input[type="checkbox"]+label{
  position: relative;
  cursor: pointer;
  padding-left: 31px;
}
.topping-check{
  position: relative;
  padding-left: 14px;
  margin-right: 19px;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
}
.topping-check span{
  padding-left: 3px;
}
.topping-check:last-child{
  margin-right: 0;
}
.topping-wrapper input[type="checkbox"]+label::before{
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255,255,255,1);
  position: absolute;
  left: -1px;
  top: 0px;
  border-radius: 3px;
}
.topping-wrapper input[type="checkbox"]:checked+label::before {
  content: "";
  width: 27px;
  height: 23px;
  position: absolute;
  left: -1px;
  top: 0px;
  background: url(../img/checkbox-on.svg) no-repeat;
  background-size: 87%;
  border: none;

}


.submit-result {
  border: 2px solid rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  padding: 7px 27px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 27px;
}
.submit-result:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
.submit-result:active {
  box-shadow: inset 0px 2px 1px 0 rgb(105, 105, 105);
  background-color: rgb(237, 237, 237);
  border: none;
}

/******catalog*********/
.catalog h1 {
  font-size: 35px;
  line-height: 41px;
  color: rgba(255, 255, 255, 1);
}
.filtered-results .catalog-item {
  margin-left: 0;
}
/*****paginator****/
.paginator {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 26px;
}
.pagination ul {
  list-style: none;
}
.pager-item a,
.pager-last a,
.pager-current span,
.pager-next span {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 6px;
  padding-top: 4px;
  display: block;
}
.pager-item {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
}
.pager-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.pager-item:active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
.pager-item:active a {
  color: rgba(0, 0, 0, 1);
}
.pagination {
  display: flex;
  width: 190px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.pagination .disabled {
  opacity: 0.2;
}
.pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pager-current.first {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
/*исправить ховер сабменю ссылки красные
 поправить распорку афтер на место поставить.
 пиксель перфект каталога настроить 
 спереть двойной рэйндж или не спереть
 сдать на проверку как можно раньше
 вернуть ховеры на меню