body {
     margin:0;
     padding: 0;
     font-family: "Roboto", "Arial", sans-serif;
     font-size: 16px;
     line-height: 22px;
     background-color: #849d8f;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
 a {
     text-decoration: none;
     color: rgba(255, 255, 255, 1);
}
 .button {
     box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
     background-image: linear-gradient(to top, #e74a35, #f26843);
     border-radius: 50px;
     text-align: center;
     color: rgba(255, 255, 255, 1);
     text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
 .button:hover {
     box-shadow: 0 2px 2px 0 #ac1000;
     background-image: linear-gradient(to top, #e74a35, #f26843);
}
 .button:active {
     box-shadow: inset 0 2px 2px 0 #942718;
     background-image: linear-gradient(to bottom, #e74a35, #f26843);
}
 .navigation-wrapper {
     min-height:65px;
     display: flex;
     justify-content: flex-start;
     flex-direction: row;

}
 .main-navigation, .user-navigation-general {
     font-size: 16px;
     line-height: 18px;
     font-weight: bold;
     text-align: left;
     color: rgba(255, 255, 255, 1);
}

.site-navigation, .user-navigation, .catalog-navigation {
     list-style: none;
}

.catalog-navigation-item a {
     font-size: 16px;
     line-height: 18px;
}
 .user-navigation-item a {
     font-size: 14px;
     line-height: 16px;
     padding:7px 13px;
     background-color: rgba(255, 255, 255, 0.2);
     border-radius: 25px; 
}
.user-navigation-item img {
     padding-right:5px;
}
 .catalog-navigation-item a {
     color: rgba(255, 255, 255, 1);
     font-size: 16px;
     line-height: 18px;
     white-space: pre;
}
.catalog-navigation {

     display:none;
}

.active:hover .catalog-navigation {
     display: flex;
     flex-direction: column;
     margin:0;
     padding: 0;
     margin-top: 15px;
     background-color: rgba(248,247,244,1);
     box-shadow: 0 0 20px rgba(0,0,0,0.4); 
     min-width: 143px;
     border-radius: 5px;
}

.catalog-navigation-item a:hover, .user-navigation a:hover {
     color: rgba(51,51,51,1);
     padding:10px 13px;
     background: rgba(248,247,244,1);
     border-radius: 25px;
     white-space: pre;
}
 .user-navigation a:focus {
     width: 87px;
     min-height: 32px;
     box-shadow: inset 0 2px 1px 0 #696969;
     background-color: #ededed;
     border-radius: 25px;
     color: #323232;
} 
.catalog-navigation-item-submenu a:hover {
     background-color: rgba(251,222,215,1);
     border-radius: inherit;
}
.catalog-navigation-item-submenu a:active {
     background-color: rgba(246, 181, 165, 1);
     border-radius: inherit;    
}
.catalog-navigation-item-submenu.inner a {
     background-color: rgba(208, 112, 88, 1);
     border-radius: inherit;    
}


.catalog-navigation-item-submenu a {
     font-size: 14px;
     line-height: 16px;
     color: rgba(50, 50, 50,1); 
     font-weight: normal;
     padding: 10px 13px;
     display: flex;
}
 .catalog-navigation li:first-child a{
     font-weight: bold;
}
.user-navigation-general {
     min-width:300px;
     margin:0;
     padding:0;

}
.user-navigation {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 0;
     margin:0;
     padding-top: 20px;
}
 .user-navigation a {
     text-align: right;
     color: rgba(255, 255, 255, 1);
}
.user-navigation li:nth-child(2) a{
     padding-left: 47px;
}
.user-navigation li:nth-child(3) a{
     padding-left: 47px;
}
.user-navigation .search-link{
     background-image: url("../img/search.svg");
     background-repeat: no-repeat;
     background-position: 9px 7px;
     width: 17px;
     height: 17px;
     display: block;
     padding:8px;
}
.user-navigation .search-link:hover {
     background-image: url("../img/search-hover.svg");
     background-repeat: no-repeat;
     background-position: 9px 7px;
     width: 17px;
     height: 17px;
     display: block;
     padding:8px;
}
.login-link {
     position: relative;
}
.login-link::before{ 
    background-image: url(../img/entrance.svg);
    background-repeat: no-repeat;
    background-position: 9px 7px;
    width: 21px;
    height: 19px;
    display: block;
    padding: 8px;
    position: absolute;
    content: "";
    left: 10px;
    top: -1px;
}
.login-link::before:hover{ 
    background-image: url(../img/enter-hover.svg);
    background-repeat: no-repeat;
    background-position: 9px 7px;
    width: 21px;
    height: 19px;
    display: block;
    padding: 8px;
    position: absolute;
    content: "";
    left: -23px;
    top: -1px;
}
.bucket-link {
     position: relative;
}
.bucket-link::before{ 
    background-image: url(../img/bucket.svg);
    background-repeat: no-repeat;
    background-position: 9px 7px;
    width: 21px;
    height: 19px;
    display: block;
    padding: 8px;
    position: absolute;
    content: "";
    left: 9px;
    top: -1px;
}
.bucket-link::before:hover{ 
    background-image: url(../img/bucket-hover.svg);
    background-repeat: no-repeat;
    background-position: 9px 7px;
    width: 21px;
    height: 19px;
    display: block;
    padding: 8px;
    position: absolute;
    content: "";
    left: -23px;
    top: -1px;
}

.site-navigation {
     margin:0;
     margin-left: 24px;
     padding:0;
     display: flex;
     width: 350px;
     justify-content: space-between;
}
 .main-navigation {
     min-width: 375px;
     margin:0;
     padding:0;
     padding-top: 20px;
     margin-right: 300px;
}

 .contacts-information {
     font-size: 14px;
     line-height: 16px;
     font-weight: bold;
     color:rgba(255, 255, 255, 1);
     display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:0;
    margin:0;
}
 .contacts-information a {
     font-size: 22px;
     line-height: 24px;
     margin-top:6px;
}
.contact-information span {
     margin-top:6px;
}
.modal-search {
     position: absolute;
     top:59px;
     right:162px;
}
 .search-on-site {
     width: 341px;
     min-height: 84px;
     border-radius: 5px;
     background-color: rgba(248, 247, 244, 1);
}
 .search-on-site .input-style {
     width: 311px;
     height: 44px;
     margin-top: 20px;
     margin-left: 15px;
}
 .placeholder {
    /*cстилизовать плэйсхолдеры*/
     padding-left: 15px;
     padding-top: 14px;
     padding-bottom: 14px;
     border-radius: 5px;
}
.slider {
     position: relative;
     width: 1200px;
     /*margin-top: -115px;*/
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 36px;
}

.slide1{
     background: url(../img/first-slide.png) no-repeat;
     background-color:#849d8f;
}

.slide2{
     background: url(../img/second-slide.png) no-repeat;
     background-color:#8996a6;
     
}
.slide3{
     background: url(../img/third-slide.png) no-repeat;
     background-color:#9d8b84;
     
}
.slider-slides {
     width: 300%;
}
.slider-inner {
     overflow: hidden;
}
.slider-controls label {
  display: inline-block;
  margin: 0 8px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  cursor: pointer;
  border:2px solid rgba(255, 255, 255, 1);
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: rgba(255, 255, 255, 1);
}
#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-1200px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-2400px);
}
.slider input[type="radio"] {
  display: none;
}
 .slide1, .slide2, .slide3 {
     width: 1200px;
     height: 881px;
     float: left;
}
 .slider h2 {
     font-size: 60px;
     line-height: 60px;
     text-align: center;
     color: rgba(255, 255, 255, 1);
     margin-top:385px;
     width:715px;
     white-space: pre-wrap;
     margin-bottom: 20px;
}
 .slide1 a, .slide2 a, .slide3 a {
     padding: 10px 40px;
     text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
     font-size: 32px;
     font-weight: bold;
     line-height: 44px;
}
.slide1,
.slide2,
.slide3 {
     display: flex;
     flex-direction: column;
     align-items: center;
}
 .topping-gifts {
     width: 560px;
     margin-left: 26px;
     min-height: 229px;
     display: flex;
    flex-direction: column;
}
 .topping-gifts h3 {
     font-size: 35px;
     line-height: 41px;
     color: rgba(255, 255, 255, 1);
     padding-left: 19px;
     margin: 0;
     margin-top: 16px;
}
 .topping-gifts p {
     font-size: 18px;
     font-weight: bold;
     line-height: 22px;
     color: rgba(255, 255, 255, 1);
     padding-left: 20px;
     margin: 0;
     margin-top: 15px;
}
 .raspberry.topping-gifts a {
     padding: 12px 0;
     font-size: 18px;
     font-weight: bold;
     line-height: 24px;
     width: 165px;
     align-self: flex-end;
     margin-top: 46px;
     margin-right: 21px;
}
.chocolate.topping-gifts a {
     padding: 12px 11px;
     font-size: 18px;
     font-weight: bold;
     line-height: 24px;
     width: 165px;
     align-self: flex-end;
     margin-top: 46px;
     margin-right: 21px;
}
 .raspberry {
     background-color: #DC143C;
     background-image: url("../img/raspberry-promo.jpg");
     background-repeat: no-repeat;
     border-radius: 15px;
     width: 560px;
}
 .chocolate {
     background-color: #8B4513;
     background-image: url("../img/chocolate-promo.jpg");
     background-repeat: no-repeat;
     border-radius: 15px;
     width: 560px;
}
 .catalog-list li {
     list-style: none;
}
 .catalog-item:hover {
     box-shadow:rgba(0, 0, 0, 0.4);
     background-color: rgba(248, 247, 244, 0.2);
}
 .catalog-item:hover .button-visual{
     display:block;
 }
  .catalog-item .button-visual {
     padding: 13px 17px 13px 17px;
     font-size: 18px;
     font-weight: bold;
     line-height: 24px;
     min-width: 200px;
     display: none;
}
 .catalog-item img {
     border-radius: 50%;
     margin: 0 auto;
}
 .catalog-item-price {
     text-shadow:rgba(49, 50, 53, 0.5);
     font-family: "Roboto", "Arial", sans-serif;
     font-size: 45px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 45px;
     letter-spacing: normal;
     text-align: left;
     color: rgba(255, 255, 255, 1);
}
 .catalog-item-price span {
     text-shadow:rgba(49, 50, 53, 0.5);
     font-family: "Roboto", "Arial", sans-serif ;
     font-size: 30px;
     font-weight: bold;
     line-height: 45px;
}
.catalog-item-description {
     font-family: "Roboto", "Arial", sans-serif;
     font-size: 16px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: 22px;
     letter-spacing: normal;
     text-align: center;
     color: rgba(255, 255, 255, 1);

}

 .our-features {
     width: 1146px;
     border-radius: 15px;
     background-image: url("../img/waffle.jpg");
     background-color: #f0c954;
     display: flex;
     flex-wrap:wrap;
     justify-content: space-around;
     margin-bottom: 40px;
     position: relative;
}
 .our-features b {
     font-size: 24px;
     line-height: 30px;
     color: #323232;
     padding-left: 18px;
     padding-top: 25px;
     padding-bottom: 26px;
}
 .our-features p {
     color: #323232;
     width: 476px;
     margin:0;
     padding: 0;
     padding-bottom: 25px;
     padding-left:53px;
}
.our-features .icecream::after{
     background: url("../img/icecream-logo-features.svg") no-repeat;
     content:"";
     width: 49px;
     height: 49px;
     position: absolute;
     top: 94px;
     left: 19px;
}
.our-features .leaf::after {
     background: url("../img/leaf.svg") no-repeat;
     content:"";
     width: 49px;
     height: 49px;
     position: absolute;
     top: 182px;
     left: 20px;
}
.our-features .cow::after {
     background: url("../img/cow-features.svg") no-repeat;
     content:"";
     width: 49px;
     height: 49px;
     position: absolute;
     top: 94px;
     right: 513px;
}
.our-features .temperature::after {
     background: url("../img/temperature-features.svg") no-repeat;
     content:"";
     width: 49px;
     height: 49px;
     position: absolute;
     top: 180px;
    right: 513px;
}

 .our-blog {
     width: 560px;
     min-height: 220px;
     border-radius: 10px;
     background-color: rgba(255, 255, 255, 1);
     background-image: url("../img/blogphoto.jpg");
     display: flex;
     flex-direction: column;
}
 .our-blog h4 {
     height: 14px;
     margin: 0;
     padding-top: 22px;
     padding-left: 19px;
}
 .our-blog a {
     font-size: 24px;
     font-weight: bold;
     line-height: 30px;
     color: #323232;
     text-decoration: underline;
     padding-left: 19px;
     margin-top: 13px;
     width: 286px;
}
 .subscribe-block {
     width: 560px;
     min-height: 220px;
     margin-left: 26px;
     border-radius: 10px;
     background-color: rgba(248, 247, 244, 1);
     background-image:repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
    ;
}
 .subscribe-block-button {
     padding: 10px 18px;
     font-weight: bold;
     font-size: 18px;
     line-height: 24px;
}
 .subscribe-block p {
     line-height: 22px;
     color: #5a5a5a;
     max-width: 506px;
     padding-bottom: 18px;
     padding-top: 10px;
     padding-left: 20px;
}
 .subscribe-form {
     margin: 5px;
     width: 550px;
     min-height: 210px;
     background-color: rgba(255, 255, 255, 1);
     border-radius: 10px;
}
.subscribe-placeholder {
     margin-left: 20px;
     min-width: 360px;
}
 .blog-subscribe-wrapper {
     display: flex;
     justify-content: space-between;
     margin-bottom: 40px;
}
.subscribe-form {
     display: flex;
     flex-direction: column;
}
 .input-feedback, .feedback-item textarea {
     border: 1px solid rgba(178, 178, 178, 0.52);
     border-radius: 5px;
    /*margin-right: 11px;
     надо потом не забыть поправить*/
}
 input-feedback:hover, .feedback-item textarea:hover {
     border: 2px solid rgba(178, 178, 178, 0.52);
}
 input-feedback:active, .feedback-item textarea:active {
     border: 2px solid rgba(46, 136, 228, 0.52);
}
 .contacts {
     width: 302px;
     height: 305px;
     border-radius: 15px;
     background-color: rgba(255, 255, 255, 1);
     position: absolute;
     right: 27px;
     top: 63px;
}
 .contacts p {
     padding-left: 25px;
     padding-top: 12px;
     padding-right: 25px;
     margin-bottom:25px;
}
 .contacts span {
     font-size: 14px;
     line-height: 20px;
     color: #323232;
}
 .contacts b {
     font-size: 18px;
     line-height: 24px;
     color: #323232;
}
 .contacts a {
     max-width: 252px;
     padding: 13px 28px 13px 28px;
     margin-left: 25px;
     font-size: 18px;
     font-weight: bold;
     line-height: 24px;
}
 .map {
     height: 430px;
     position: relative;
     margin:0 auto;
     width: 1200px;
}

 .modal-feedback {
     width: 478px;
     border-radius: 10px;
     background-color: rgba(248, 247, 244, 1);
     position: absolute;
    top: 337px;
    left: 341px;
     box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
 .modal-feedback h2 {
     font-size: 24px;
     line-height: 28px;
     color: #323232;
     padding: 20px 0 0 24px;
}
 .modal-feedback h2::after {
     content: "";
     background-image: url("../img/close.svg");
     position: absolute;
     width:17px;
     height: 17px;
     top:17px;
     right:17px;
 }
 .feedback-item {
     padding-left: 24px;
}
 .feedback-item textarea {
     height: 155px;
     width: 375px;
}
 .feedback-item input {
     width: 267px;
}
.feedback-item .placeholder {
    padding: 13px 15px;
}
.input-feedback {
     padding: 13px 25px 25px 25px;
}
 .feedback-button {
     max-height: 44px;
     font-size: 18px;
     font-weight: bold;
     line-height: 24px;
     padding:7px 24px;
     margin-left: 315px;
     margin-bottom: 25px;
}
 .modal-login {
     width: 277px;
     border-radius: 5px;
     box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
     background-color: rgba(248, 247, 244, 1);
     position: absolute;
     top: 59px;
     right: 134px;
}
 .login-form .user-email, .login-form .user-password {
     margin-bottom: 20px;
}
 .login-form {
     padding: 20px;
}
 .help-me {
     width: 120px;
}
.help-wrapper {
     display: flex;
}
 .restore, .registration-user {
     font-size: 13px;
     line-height: 24px;
     color: #323232;
     text-decoration: underline;
}
 .modal-login-button {
     padding:0 20px;
     font-size: 18px;
     line-height: 24px;
     font-weight: bold;
     margin-right: 20px;
}
.bucket {
     background-color: rgba(248,247,244,1);
     font-size: 13px;
     line-height: 16px;
     color: rgba(50,50,50,1);
     width: 633px;
     border-radius: 5px;
     box-shadow: 0 0 20px rgba(0,0,0,0.4) ;
     display: flex;
     flex-direction: column;
     margin-left: 20px;
     position: absolute;
     top:59px;
     right:27px;

}
.modal {
     display: none;
}
.client-choise {
     width: 590px;
     padding-left: 16px;
     padding-top: 20px;
}
.icecream-link {
     font-size: 13px;
     line-height: 16px;
     color: rgba(50,50,50,1);  
}
.client-choise-row span {
     color: rgba(153,153,153,1);
}
.clients-choise-row .delete {
     width: 12px;
     padding:0;
     margin:0;
     background: none;
}

.client-choise-row-amount {
     font-size: 15px;
     line-height: 18px;
     color: rgba(50,50,50,1);font-weight: bold;
     text-align: right;
}
.button-choise {
     font-size: 18px;
     line-height: 24px;
     padding:13px 14px;
     font-weight: bold; 
     align-self: flex-end; 
     margin-bottom: 21px;
     margin-right: 15px;
     margin-top: 15px;   
}
 .footer-social ul {
     list-style: none;
}
 .commercial-information {
    /* max-width: 305px;*/
     margin-left: 234px;
}
 .commercial-block li {
     list-style: none;
     padding-left: 32px;
}
 .commercial-information a {
     font-size: 13px;
     line-height: 18px;
}
 .commercial-column-first li:first-child a{
     font-weight: bold;
}
 .copyright {
     margin-left: 123px;
     margin-top: 0;
     display: flex;
    flex-direction: column;
}
/*inner начинается тут***********************/
.page-title {
     color:rgba(255, 255, 255, 1);
}
 .breadcrumbs li, .breadcrumb-current {
     font-size: 14px;
     line-height: 16px;
     color: rgba(255, 255, 255, 1);
     list-style: none;
}
 .sorting-name {
     font-size: 14px;
     font-weight: bold;
     line-height: 16px;
     color: rgba(255, 255, 255, 1);
}
 /*.filter-item {
     display: inline-block;
     vertical-align: middle;
}*/
 .filter-item b, .toppings b {
     font-size: 14px;
     font-weight: bold;
     line-height: 16px;
     color: rgba(255, 255, 255, 1);
}
/* .sort-fat-item {
     display: inline-block;
     vertical-align: middle;
}*/
 .sort-fat-item label, .toppings label {
     font-size: 16px;
     line-height: 18px;
}
 .topping-check {
     font-size: 16px;
     line-height: 18px;
     color:rgba(255, 255, 255, 1);
}
 .sorting-filters .submit-result {
     font-size: 16px;
     line-height: 18px;
     font-weight: bold;
     color: rgba(255, 255, 255, 1);
     padding: 12px 29px 9px 31px;
     background-color: #849d8f;
     border-radius: 20px;
}
 .catalog h1 {
     font-size: 35px;
     line-height: 41px;
     color: rgba(255, 255, 255, 1);
}
 .pagination ul{
     list-style: none;
}
 .pager-item a, .pager-last a, .pager-current span, .pager-next span {
     font-size: 16px;
     line-height: 18px;
     font-weight: bold;
}
 .copyright a {
     font-size: 12px;
     line-height: 16px;
}
/*********************Макросетки*************************/




.contact-information a {
     margin-top:6px;
}
.contact-information span {
     margin-top:6px;
}


 .container {
     width: 1146px;
     margin: 0 auto;
}
 .special-offer {
     display: flex;
     justify-content: space-between;
     margin-bottom: 35px;
}
 .topping-gifts {
     margin:0;
     padding: 0;
}
 .type-of-icecream-list {
     margin-bottom: 40px;
}
 .catalog-list {
     display: flex;
     padding:0;
     margin:0;
     justify-content: space-between;
}

 .main-footer {
     padding-top: 22px;
     display:flex;
     padding-bottom: 30px;
}
 .footer-social ul{
     padding:0;
     margin:0;
     margin-top: 18px;
     min-width: 185px;
     display: flex;
     justify-content: space-between;
}
.commercial-block {
     min-width: 410px;
     display: flex;
     padding: 0;
     margin:0;
     margin-top: 13px;
}
.commercial-block li {
     padding:0;
     margin:0;
}
.commercial-column-first {
     min-height: 40px;
     min-width: 115px;
     display: flex;
     flex-direction: column;
}
.commercial-column-second {
     min-height: 40px;
     min-width: 165px;
     display: flex;
     flex-direction: column;
     margin-left: 26px;
}

/*******сетки иннера********/
.information-breadcrumbs /*Глупый вопрос:как этот блок вообще нормально назвать можно?*/{
     display: flex;
     justify-content: space-between;
}
.information-breadcrumbs>.contacts-information {
     order:1;
     padding:0;
     margin:0;
}
.breadcrumbs{
     display: flex;
     justify-content: space-between;
     min-width: 230px;
}
.breadcrumbs li {
     padding:0;
     margin:0;
}
.first-row-sorting,
.second-row-sorting {
     display:flex;
     flex-direction: column;
}
.filters {
     margin-bottom: 40px;
}
.filter-item {
     padding: 0;
     margin:0;
}
.filters-row {
     display: flex;
     align-items: baseline;
}
.catalog-inner {
     display: flex;
     width: 1148px;
     flex-wrap: wrap;
     justify-content: space-between;
}
.catalog-item  {
     padding: 0;
     margin:0;
     width: 267px;
     margin-bottom: 40px;
     display: flex;
     flex-direction: column;
     align-items: center;
     min-height: 405px;
     position: relative;
}


.catalog-item-price {
     padding: 0;
     margin:0;
     position: absolute;
     top: 223px;
     text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);

}
.pagination li {
     list-style: none;
     padding:0;
     margin:0;
}
.pager-current.first{
     color: rgba(255, 255, 255, 1);
}
.paginator {
     display: flex;
     justify-content: flex-end;
}
.pagination {
     display: flex;
     width: 190px;
     justify-content: space-between;
     padding: 0;
     margin: 0;
}
